*{
    margin: 0;
    padding: 0;
    font-family:Roboto,Arial;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #ff9a9e 10%, #f6416c 100%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.player{
    position: absolute; 
    top: 7rem;
    color: white;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 100;
    backdrop-filter: blur(25px);
    padding: 0.7rem;
    border-radius: 2rem;
}

.main-box{
    height:20rem ;
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 100;
    backdrop-filter: blur(25px);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    position: relative;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    height: 85.33px;
}
.box.active{
    background-color: lightgreen;
}
.boundary{
    position: absolute;
    
    border-radius: 0.1rem;
    background: #fff;
}
.b-1 , .b-2{
    height: 0.2rem;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}
.b-1{
    top: 33.34%;
}
.b-2{
    bottom: 33.34%;
}

.b-3,.b-4{
    top:50%;
    transform: translateY(-50%);
    height:90%;
    width: 0.2rem;
}
.b-3{
    left: 33.34%;
}
.b-4{
    right: 33.34%;
}

.restart-button{
    position: absolute; 
    bottom: 7rem;
    color: white;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 100;
    backdrop-filter: blur(25px);
    padding: 0.7rem;
    border-radius: 2rem;
    border: none;
    display: none;
}

